<section class="hero">

    <div class="hero-text">
        <h1>Hello, I'm <span>Shankar Ganesh</span></h1>
        <h3>Full Stack MEAN Developer</h3>
        <p>I build modern, scalable and high-performance web applications using Angular, Node.js, Express, and MongoDB.
        </p>

        <div class="buttons">
            <a href="assets/Shankar ganesh (1).pdf" download="Shankar_Ganesh_Resume.pdf" class="btn-primary"
                style="text-decoration: none; display: inline-block;">Download Resume</a>
            <button class="btn-outline" routerLink="/about">About Me</button>
        </div>
    </div>

    <div class="hero-img">
        <img src="assets/profile.jpg" alt="Shankar Ganesh" />
    </div>

</section>