<aside class="sidebar">
    <ul>
        <li routerLink="/" routerLinkActive="active">
            <span>🏠</span> Home
        </li>
        <li routerLink="/about" routerLinkActive="active">
            <span>👤</span> About
        </li>
        <li routerLink="/skills" routerLinkActive="active">
            <span>💎</span> Skills
        </li>
        <li routerLink="/projects" routerLinkActive="active">
            <span>🚀</span> Projects
        </li>
        <li routerLink="/experience" routerLinkActive="active">
            <span>💼</span> Experience
        </li>
        <li routerLink="/contact" routerLinkActive="active">
            <span>📩</span> Contact
        </li>
    </ul>
</aside>